:root {
    --c-button: #4D5AE5;
    --c-primary-text: #2E2F42 ;
    --c-background: #2E2F42;
    --c-background-light: #FFFFFF;
    --c-paragraf-text: #434455;
    --c-bacgraund-dark: #F4F4FD;
}

body {
    color: var(--c-paragraf-text);
    background-color: var(--c-background-light);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   }
   a {
    text-decoration: none;
   }
   ul {
       list-style-type: none;
   }
   button {
       font-family: inherit;
   }
   h1 {
    color: #FFF;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
   }
h2{
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--c-primary-text);

}
h3{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--c-primary-text);
}
p{
    line-height: 1.5;
        letter-spacing: 0.02em;
}
.logo {
    color: #4D5AE5;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        
        }
        
.studio {
    color: #2E2F42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1,17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.listheader {
    color:var(--c-primary-text);
        font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.32px;
}
.listheader:hover {
    color: #404bbf;
}
.listheader:focus {
    color: #404bbf;
}
.adress{
    font-style: normal;
}
.adresslist {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        font-style: normal;
}
.adresslist:hover{
    color: #404bbf;
}
.adresslist:focus {
    color: #404bbf;
}
/* HERO SECTION */
.herosection {
background-color: var(--c-background);
}


.herobutton {
    background-color: var(--c-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}
.herobutton:hover {
    background-color: #404BBF;

}
.herobutton:focus {
    background-color: #404BBF;
}
.tehnologysection {
    background: var(--c-background-light);
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}



.personal-section {
    background-color: var(--c-bacgraund-dark);
}



.personal-backgraund {
    background-color: var(--c-background-light);
}




/* FOOTER */
.footertext {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.footer-backgraund {
    background-color: var(--c-background);
}
.logo-footer {
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;

}

.studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1, 17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}