body {
    font-family: "Roboto";
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    
}

.logo {
    color: #4D5AE5;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
}
.studio {
    color: #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}